<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
body {
  /* copy from http://lea.verou.me/css3patterns/#carbon-fibre */
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}
</style>
		<title>{{key}}</title>
		<script type="text/javascript" src="{{url_for('static', filename='jquery-1.6.2.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='highcharts.src.js')}}"></script>
		<script type="text/javascript">
		  var ac_index = 0;
		  function nextColor() {
        	return rainbow(50, ac_index++);
		  }

      function rainbow(numOfSteps, step) {
          // This function generates vibrant, "evenly spaced" colours (i.e. no clustering). This is ideal for creating easily distiguishable vibrant markers in Google Maps and other apps.
          // Adam Cole, 2011-Sept-14
          // HSV to RBG adapted from: http://mjijackson.com/2008/02/rgb-to-hsl-and-rgb-to-hsv-color-model-conversion-algorithms-in-javascript
          var r, g, b;
          var h = step / numOfSteps;
          var i = ~~(h * 6);
          var f = h * 6 - i;
          var q = 1 - f;
          switch(i % 6){
              case 0: r = 1, g = f, b = 0; break;
              case 1: r = q, g = 1, b = 0; break;
              case 2: r = 0, g = 1, b = f; break;
              case 3: r = 0, g = q, b = 1; break;
              case 4: r = f, g = 0, b = 1; break;
              case 5: r = 1, g = 0, b = q; break;
          }
          var c = "#" + ("00" + (~ ~(r * 255)).toString(16)).slice(-2) + ("00" + (~ ~(g * 255)).toString(16)).slice(-2) + ("00" + (~ ~(b * 255)).toString(16)).slice(-2);
          return (c);
      }

		  Highcharts.setOptions({
		    global: {
		      useUTC: false
		    }
		  });

		  var default_interval = 8 * 1000; // in seconds
		  function toSeries(da) {
		  	// [['br,Chrome,10.0.648.45', 7.0],..
		  	// [{name:'', data:[[now, y]}
		  	var now = (new Date()).getTime();
		  	// console.log('now', now);
		  	var ret = [];
		  	for(var i=0; i<da.length; ++i) {
		  		var v = da[i][1];
		  		if($.isArray(v)) {
		  			var pv = []; // paird: [time, v]
		  			var start = v.length < count_limit ? 0 : v.length - count_limit;
		  			for(var j=start;j<v.length; ++j)
		  				pv.push([now-(v.length-j)*default_interval, v[j]]);
		  			// console.log(da[i][0], pv);
			  		ret.push({name:da[i][0], data:pv});
		  		}
		  		else
		  			ret.push({name:da[i][0], data:[[now,da[i][1]]]});
		  	}
		  	return ret;
		  }

		  function toPieData(da) {
		  	// [{type: 'pie',data:[['firefox', 10], ['ie', 20]]}];
		  	var sa = {}; // map[name] = count
			$.each(da, function(k,v){
				if ($.isArray(da)) {
					var a = v[0].split(',');
					var c = v[1];
				} else {
					var a = k.split(',');
					var c = v;
				}

				// TODO: use multi-circle pie
				if (a.length >= title.split(',').length + 2)
		  			var name = a.slice(0, a.length - 1).join(',');
		  		else
		  			var name = a.join(',');

		  		if ($.isArray(c))
		  			c = c[c.length - 1];

		  		console.log('c', c);
		  		if (isNaN(sa[name]))
		  			sa[name] = c;
		  		else
		  			sa[name] += c;
			});
		  	
		  	// convert map to Array
		  	var sd = [];
		  	for(var k in sa) {
		  		sd.push([k, sa[k]]);
		  	}
		  	return sd;
		  }

		  var title = "{{key}}";
		  var data = [{% for k, v in series %}['{{k|safe}}', {{v}}]{% if not loop.last %},{% endif %}
		  	{% endfor %}];
		  var chart_type = '{{type}}';
		  var count_limit = 20;
		  var chart;
		  $(document).ready(function () {
		    chart = new Highcharts.Chart({
		      chart: {
		      	animation: true,
		        renderTo: 'container',
		        defaultSeriesType: chart_type,
		        marginRight: 0
		      },
		      credits: {
		        enabled: true,
		        text: 'renren.som via highcharts.com',
		        href: 'http://www.highcharts.com',
		        position: {
		          align: 'left',
		          x: 0,
		          verticalAlign: 'bottom',
		          y: -5
		        },
		        style: {
		          cursor: 'pointer',
		          color: '#909090',
		          fontSize: '10px'
		        }
		      },
		      title: {
		        text: title
		      },
		      xAxis: {
		        type: 'datetime',
		        tickPixelInterval: 50
		      },
		      yAxis: {
		        title: {
		          text: 'Value'
		        },
		        plotLines: [{
		          value: 0,
		          width: 1,
		          color: '#808080'
		        }]
		      },
		      plotOptions: {
		        line: {
		          dataLabels: {
		            enabled: true
		          },
		          enableMouseTracking: false
		        },
		        pie: {
					allowPointSelect: true,
					cursor: 'pointer',
					dataLabels: {
						enabled: true,
						color: '#000000',
						connectorColor: '#000000',
						formatter: function() {
							return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(2) +' %<br>' + this.point.y;
						}
					}
				}
		      },
		      tooltip: {
		        formatter: function () {
		        	if (chart_type !='pie')
		          		return '<b>' + this.series.name + '</b><br/>' +
								Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
								Highcharts.numberFormat(this.y, 2);
		        }
		      },
		      legend: {
		        enabled: true,
		        borderWidth: 0
		      },
		      exporting: {
		        enabled: false
		      },
		      series: (function(){
		      	if (chart_type != 'pie')
			      	return toSeries(data);
			    else
			    	return [{type : 'pie', data: toPieData(data)}];
			  })()
		    });

		    pull();

		    $('a#pause').click(function(){
		    	pause = !pause;
		    	$(this).text(pause ? 'resume' : 'pause');
		    	if (!pause)
		    		pull();
		    })
		  });

		  function findSerie(name) {
		    for (x in chart.series) {
		      var val = chart.series[x];
		      if (val.name == name)
		        return val;
		    }
		  }
		  function add(name, val) {
		    var s = findSerie(name);
		    var data = [];

		    if (!s) {
		      chart.addSeries({
		        name: name,
		        data: data,
		        color: nextColor()
		      });
		      s = findSerie(name);
		    }

	        // shift = (s.data.length > (document.body.clientWidth * 0.9/20));
	        var shift  = s.data.length > count_limit;
		    var x = (new Date()).getTime(), // current time
            	y = val;
		    s.addPoint([x, y], false, shift);
		  }

		  var pause = false;
		  function pull() {
		    $.getJSON('/pull/{{key|safe}}', function (data) {
		    	if (chart_type == 'pie') {
		    		chart.series[0].setData(toPieData(data), true);
		    	}
		    	else {
		      		$.each(data, function (key, val) {
			      		if (typeof val == 'number')
	              			add(key, val);
	          		});
	          		chart.redraw();
	          	}

	          	$('#last').text((new Date()).toUTCString());
		      
		      	if (!pause)
		        	setTimeout(pull, 1);
		    });
		  }
		</script>
		
	</head>
	<body>
		
		<!-- 3. Add the container -->
		<div id="container" style="width: 90%; height: 800px; margin: 0 auto"></div>
		<a id="pause" href="#">pause</a> last update: <span id="last"></span>
	</body>
</html>
